<h1>
  <%= @profile.full_name %>'s Profile!
</h1>

<div>
  <%= image_tag @profile.picture_url %>
</div>

<div>
  Birthday: <%= @profile.birthday %><br>
  Zodiac: <%= @profile.zodiac %><br>
  Horoscope: <%= @profile.weekly_horoscope %><br>
  Location: <%= @profile.location %><br>
  Hobbies: <%= @profile.hobbies %>
</div>

<%= render partial: 'shared/posts', locals: { posts: @my_posts } %>
