<h1>
  Welcome, <%= current_user.full_name %>!
</h1>

<div>
  <%= image_tag current_user.picture_url %>
  <%= link_to "Edit profile", edit_my_profile_path %>
  <%= link_to "All profiles", profiles_path %>
</div>

<% if @posts.any? %>
  <table>
    <thead>
      <h4>Posts</h4>
      <tr>
        <th>content</th>
        <th>emotion</th>
        <th>published at</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.content %></td>
          <td><%= post.emotion %></td>
          <td><%= post.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h3>No posts to see here...yet</h3>
<% end %>

<%= link_to 'Add a post', new_post_path %>
