<h1>
  Welcome, <%= current_user.full_name %>!
</h1>

<div>
  <%= image_tag current_user.picture_url %>
  <%= link_to "Edit profile", edit_my_profile_path %>
  <%= link_to "All profiles", profiles_path %>
</div>

<%= render partial: 'shared/posts', locals: { posts: @posts } %>

<%= link_to 'Add a post', new_post_path %>
