<!DOCTYPE html>
<html>
<head>
  <title>Ruby &amp; Rosé</title>
  <%= favicon_link_tag 'logo.png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
</head>
<body>

<nav>
  <marquee>
    <a href="/posts">Posts
  </a>
  <a href="/posts/new">New Post</a>
</marquee>
</nav>

<img src="http://www.pitt.edu/~egs21/infomanycute.jpg" alt="Our Logo!" width="80" height="80">

<% if signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path, class: "sign_out" %>
<% end %>



<%= yield %>

</body>
</html>
