<!DOCTYPE html>
<html>
<head>
  <title>Ruby &amp; Rosé</title>
  <%= favicon_link_tag 'logo.png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
</head>
<body>

<img src="/assets/new_logo.jpg" alt="Our Logo!" width="80" height="80">

<% if signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path, class: "sign_out" %>
<% end %>



<%= yield %>
More test texts

</body>
</html>
